:root{
    --rojo: #a5192d;
    --rojo-2: #b40a19;
    --amarillo: #e6b231;
    --blanco: #fff;
    --negro: #000;
    --azul: #007bff;
    --rojo-3: #dc3545;
    --naranja: #fd7e14;
    --amarillo-2: #ffc107;
    --verde: #28a745;
    --cyan: #17a2b8;
    --light: #f8f9fa;
    --gris: #6c757d;
    --gris-oscuro: #343a40;
    
}

.mision_vision{
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    border: #ac2136 5px solid;
}
.box1{
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    background-color: #ac2136;
    color: #fff;
    padding: 2em;
    justify-content: center;
}
.box2{
    display: flex;
    flex-wrap:wrap;
    width: 50%;
    background-color: #fff;
    color: #ac2136;
    padding: 2em 2em 3.5em 2em;
    justify-content: center;
}
.titulo{
    align-items: center;
    
}
.titulo span{
    font-size: 50px;
}

.parrafo{
    margin-top: 1em;
    text-align: justify;
}
@media(max-width:1025px){
    .box1,.box2{
        width: 100%;
    }
}

.historia{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}
.historia .imagen{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}
.historia .informacion-contenedor{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: flex-start;
    align-items: center;
}
.historia .imagen img{
    margin: 2em 0em;
    width: 450px;
    height: auto;
    transform: translateX(1em);
    -webkit-transform: translateX(1em);
    -moz-transform: translateX(1em);
    -ms-transform: translateX(1em);
    -o-transform: translateX(1em);
}
.historia .informacion-contenedor .informacion{
    background-color: #ac2136;
    color: #fff;
    width: 450px;
    height: 90%;
    padding: 1em;
    transform: translateX(-3em);
    padding:2em;
    -webkit-transform: translateX(-3em);
    -moz-transform: translateX(-3em);
    -ms-transform: translateX(-3em);
    -o-transform: translateX(-3em);
}
.historia .informacion-contenedor .informacion h3{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 2em;
    margin-bottom: 2em;
}
.historia .informacion-contenedor .informacion p{
    padding: 0 0 2em 0;
}
.titulos h2{
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 3em;
    color:#e6b231;
    margin-top: 1em;
    padding: 0px;
    display: flex;
    height: 90px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(#e6b231, #e6b231);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 10% 3px;
}
@media(max-width:1025px){

    .historia .imagen img{
        transform: translateX(2em);
        -webkit-transform: translateX(2em);
        -moz-transform: translateX(2em);
        -ms-transform: translateX(2em);
        -o-transform: translateX(2em);
}
    .historia .informacion-contenedor .informacion{
        transform: translateX(-2em);
        -webkit-transform: translateX(-2em);
        -moz-transform: translateX(-2em);
        -ms-transform: translateX(-2em);
        -o-transform: translateX(-2em);
}
}
@media(max-width:900px){
    .historia{
        height: fit-content;
    }
    .historia .imagen img{
        transform: translateX(2em);
        width: 350px;
        height: auto;
        -webkit-transform: translateX(2em);
        -moz-transform: translateX(2em);
        -ms-transform: translateX(2em);
        -o-transform: translateX(2em);
}
    .historia .informacion-contenedor .informacion{
        transform: translateX(-2em);
        width: 400px;
        height: fit-content;
        padding: 1.5em 2em;
        -webkit-transform: translateX(-2em);
        -moz-transform: translateX(-2em);
        -ms-transform: translateX(-2em);
        -o-transform: translateX(-2em);
}
}
@media(max-width:700px){
    .historia{
        background-image: none;
        padding-bottom: 2em;
        margin-bottom: 2em;
    }
    .historia .imagen,.historia .informacion-contenedor{
        width: 100%;
        justify-content: center;
    }
    .historia .imagen img{
        transform: translateX(0);
        width: 80vw;
        height: auto;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .historia .informacion-contenedor .informacion{
        transform: translateX(0);
        width: 80vw;
        height: fit-content;
        padding: 0.5em 2em;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
}
    .titulos h2{
        font-size: 3em;
    }
}

.info-general{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #fff;
    width: 100%;
}
.info-general-texto,.info-general-imagen{
    width: 50%;
    height: 62vh;
    margin: 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    background-color: #f1f1f1; 
}
.info-general-texto{
    background-color: #195fbb;
}
.info-general-texto h2,.info-general-texto p{
    box-sizing: border-box;
    width: 100%;
    margin: 0; 
}
.info-general-texto h2{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    font-weight: normal;
    padding: 0.5em;
}
.info-general-texto .texto-inicial{
    font-style: italic;
}
.info-general-texto p{
    text-align: center;
    font-size: 1em;
    padding: 1em;
}
.info-general-imagen img{
    width: 55vh;
    height: 55vh;
    margin: 0px 0px;
}
@media (max-width:1020px){
    .info-general .info-general-texto,.info-general .info-general-imagen{
        overflow: hidden;
        width: 100%;
        height: fit-content;
        margin: 0px;
    }
    .info-general .info-general-texto{
        align-content: center;
        height: fit-content;
    }
    .info-general-texto h2{   
        font-size: 2.2em;
    }
    .info-general-texto p{
        font-size: 1em;
    }
}
@media(max-width:1020px){
    .info-general-imagen img{
        width: 40vh;
        height: 40vh;
    }
}
@media(max-width:480px){
    .info-general-imagen img{
        width: 30vh;
        height: 30vh;
    }
}

.info-sucursales{
    overflow: hidden;
}
.info-sucursales h2{
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 1em;
    margin-top: 1em;
    font-family: 'Dancing Script', cursive;
    font-weight: normal;
    font-size: 3em;
    color:#e6b231;
    background-image: linear-gradient(#e6b231, #e6b231);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 10% 3px;
}

.info-sucursales .sucursal h3{
    text-align: center;
    font-size: 1.5em;
    box-sizing: border-box;
    width:100%;
}

.info-sucursales{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: #000;
    line-height: 2;
}

.info-sucursales .sucursal{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

.info-sucursales .sucursal .image, .info-sucursales .sucursal .info{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.info-sucursales .sucursal .image{
    background-color: #f0efef;
    padding: 1.5em 0;
}
.info-sucursales .sucursal .info{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #000;
    padding-bottom: 2em;
}
.info-sucursales .sucursal .info p{
    padding: 0 1em;
}
.info-sucursales .sucursal .image img{
    width:400px;
    height: 220px;
    background-color: rgb(255, 255, 255);   
}  

.info-sucursales .sucursal .image.uno{
    padding-left: 25%;
}

.info-sucursales .sucursal .info.uno{
    padding-right: 25%;
} 

.info-sucursales .sucursal .image.dos{
    padding-right: 25%;
}

.info-sucursales .sucursal .info.dos{
    padding-left: 25%;
} 

.info-sucursales .sucursal a{
    background-color:#fff;
    color: #ac2136;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    padding: 0.3em 1.5em;
    margin-top: 1em;
    box-sizing: border-box;
    border:  #ac2136 3px solid;
    cursor: pointer;
    vertical-align: middle;
}
.info-sucursales .sucursal .info a .material-icons{
    font-size: 1em;
}
.info-sucursales .sucursal a:hover{
    background-color: #ac2136;
    border: 3px solid  #ac2136;
    color: #fff; 
}

@media(max-width: 1500px){
    .info-sucursales .sucursal .image.uno{
        padding-left: 15%;
    }
    
    .info-sucursales .sucursal .info.uno{
        padding-right: 15%;
    } 
    
    .info-sucursales .sucursal .image.dos{
        padding-right: 15%;
    }
    
    .info-sucursales .sucursal .info.dos{
        padding-left: 15%;
    }
}

@media(max-width: 1100px){
    .info-sucursales .sucursal .image.uno{
        padding-left: 10%;
    }
    
    .info-sucursales .sucursal .info.uno{
        padding-right: 10%;
    } 
    
    .info-sucursales .sucursal .image.dos{
        padding-right: 10%;
    }
    
    .info-sucursales .sucursal .info.dos{
        padding-left: 10%;
    }
}

@media(max-width: 1010px){
    .info-sucursales .sucursal .image, .info-sucursales .sucursal .info{
        width: 100%;
    }

    .info-sucursales .sucursal.mover div:nth-child(1){
        order: 2;
    }
    .info-sucursales .sucursal.mover div:nth-child(2){
        order: 1;
    }
    
    .info-sucursales .sucursal .image.uno{
        padding-left: 0%;
    }
    
    .info-sucursales .sucursal .info.uno{
        padding-right: 0%;
    } 
    
    .info-sucursales .sucursal .image.dos{
        padding-right: 0%;
    }
    
    .info-sucursales .sucursal .info.dos{
        padding-left: 0%;
    } 
    .info-sucursales h2{
        font-size: 3em; 
    }
    
}

@media(max-width: 460px){
    .info-sucursales .sucursal .image, .info-sucursales .sucursal .info{
        width: 100vw;
    }

    .info-sucursales .sucursal .image img{
        width: 90vw;
        height: 50vw;
    }
    .info-sucursales h2{
        font-size: 3em; 
    }
}